@model IEnumerable<POS_PointOfSale.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cl_fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cl_activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cl_fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cl_activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cl_cedula }) |
            @Html.ActionLink("Details", "Details", new { id=item.cl_cedula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cl_cedula })
        </td>
    </tr>
}

</table>
