@model POS_PointOfSale.Models.InventarioOrden
@{
    ViewBag.Title = "Añadir Producto";
}

<h2>AddProduct</h2>
<h3>@ViewBag.Error</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">



        <div class="form-group">
            @Html.LabelFor(model => model.in_codArticulo, "in_codArticulo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("in_codArticulo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.in_codArticulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
            </div>
        </div>


        <input type="submit" value="Añadir Producto" class="btn btn-default" />

    </div>
}