@model POS_PointOfSale.ViewModels.UserView
@{
    ViewBag.Title = "AddRole";
}

<h2>Añadir rol al usuario: @Model.Name</h2>
<h3>@ViewBag.Error</h3>

@using (Html.BeginForm("AddRole", "Users", new { userID = Model.UserID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">



        <div class="form-group">
            @Html.LabelFor(model => model.Role.RoleID, "RoleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.ActionLink("Regresar al Usuario", "Roles", new { userID = Model.UserID }, new { @class = "btn btn-info" })
        <input type="submit" value="Añadir Rol" class="btn btn-default" />

    </div>
}