@model IEnumerable<POS_PointOfSale.Models.Inventario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.in_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.in_cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.in_costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.in_precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.in_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.in_cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.in_costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.in_precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.in_codArticulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.in_codArticulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.in_codArticulo })
        </td>
    </tr>
}

</table>
